name: sqflite_database_example
description: A new Flutter project.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.1.3 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  math_expressions: ^2.0.2
  sqflite: ^2.3.0
  intl: ^0.18.1
  flutter_staggered_grid_view: ^0.7.0
  path: ^1.8.3


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
